@model CreateUserModel

@{
    ViewData["Title"] = "Sign Up";
    Layout = "_Layout";
}
<h1>Register Here</h1>

<h4>Sign Up</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp">
            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <script>alert('@ViewBag.Message')</script>
            }
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control" asp-items="ViewBag.Roles" required>
                    <option value="">--Select Role--</option>
                </select>
                @* <input type="text" asp-for="Role" class="form-control" /> *@
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>